<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Cosmos</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li *ngIf="!checkLoggedIn()" class="nav-item">
                <a class="nav-link active" routerLink="/register">Register</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li *ngIf="!checkLoggedIn()" class="nav-item">
                <a class="nav-link active" routerLink="/login">Login</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" routerLink="/planet">Planets</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" routerLink="/other">Others</a>
                </li>
            </ul>
                    
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li *ngIf="checkLoggedIn()" class="nav-item">
                <a class="nav-link" (click)="onLogoutClick()" href="">Logout</a>
                </li>
            </ul>
          </div>

    </div>
  </nav>